.appHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    border-bottom: 1px solid rgb(180, 180, 180);
    background-color: rgb(206, 208, 211);
  }
  
  .logo {
    cursor: pointer;
    width: 80px;
    height: 60px;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    gap: 50px; 
  }
  
  .musicIcon, .homeIcon, .loginIcon {
    cursor: pointer;
  
    &:hover {
      color: blue;
    }
}
  